body {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    height: 40px;
}

input,
select,
textarea {
}

.standart-size {
    width: 140px;
    height: 35px;
}

input.radio-margin {
    margin-left: 10px;
    margin-right: 10px;
}

label.align-center,
input.align-center {
    vertical-align: middle;
    display: -ms-inline-grid;
}

label.margin-left {
    margin-left: 40px;
}

input.start-button {
    font-size: large;
    width: 300px;
    height: 70px;
    padding-bottom: 20px;
    font-size: 30pt;
}


.navbarme {
    overflow: visible;
    background-color: #134A46;
}

    .navbarme a {
        float: left;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: visible;
}

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbarme a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #555555;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

div.show {
    display: block;
}

*.green-back {
    background: #7AB893;
}

.settings-bar {
    border: #134a46;
    border-left-style: solid; 
}

li.settings-label {
    border: #134a46;
    border-bottom-style: solid;
}

li.settings-label-text {
    font-weight: bold;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a, li label {
    display: block;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
}

    li a:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
        cursor: default;
    }
td.tableCell {
    width: 40px;
    height: 20px;
    text-align: center;
    border-style: double
}

td.tableCell:hover {
    cursor: pointer;
}

button.go-button {
    padding-top: 2px;
    padding-bottom: 3px;
    vertical-align: top;
}

div.navbarme {
    background-color: #ffffff;
}

div.header {
    background-color: #134a46;
    border-radius: 0px 0px 10px 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}

div.settings-block {
    width: 200px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

div.content-block {
    width: auto;
    max-width: 940px;
    min-width: 280px;
    display: inline-block;
    vertical-align: top;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#content-block label {
    font-weight: normal;
}

@media (max-width: 1250px) {
    div .settings-block {
        width: auto;
        display: block;
    }
    ul.settings-bar {
        width: auto;
        border-style: solid;
    }
    ul li {
        display: inline-block;
        border-right-style: solid;
        border-width: 1px;
        border-bottom-style: none !important;
    }
    li.settings-label-text {
        border-right-style: solid;
        border-width: 1px;
    }
}

@media (max-width: 748px) {
    #settings-label {
        display: none;
    }

    #exam-set div.dropdown {
        display: block !important;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 620px) {
    #lang-set {
        display: inline !important;
    }
    #order-set {
        display: inline !important;
    }
    #settings-block ul li a {
        display: none !important;
    }
    #settings-block {
        min-width: 290px;
    }
    .settings-label {
        float: right
    }
    #settings-block ul li {
        width: 30%;
        text-align: center;
    }
    #settings-block ul:nth-child(3) {
        width: 150px !important;
    }
    #settings-block li.settings-label { 
        min-width: 190px !important;
    }
    .start-button {
        width: 230px !important;
        font-size: 25pt !important;
    }
}

@media (max-width: 530px) {
    #lang-set {
        display: inline !important;
    }

    #order-set {
        display: inline !important;
    }

    #settings-block ul li a {
        display: none !important;
    }

    #settings-block {
        min-width: 290px;
    }

    .settings-label {
        float: right
    }

    #settings-block ul li {
        width: 25%;
        text-align: center;
    }

    #settings-block ul:nth-child(3) {
        width: 150px !important;
    }

    #settings-block.settings-label {
        min-width: 190px !important;
    }
}

@media (max-width: 415px) {
    #lang-set {
        display: inline !important;
    }

    #order-set {
        display: inline !important;
    }

    #settings-block ul li a {
        display: none !important;
    }

    #settings-block {
        min-width: 290px;
    }

    .settings-label {
        float: right
    }

    #settings-block ul li {
        width: auto;
        text-align: center;
    }

    #settings-block ul:nth-child(3) {
        width: 150px !important;
    }

    #settings-block.settings-label {
        min-width: 190px !important;
    }
    #exam-init {
        font-size: 13pt !important;
    }
    #exam-info p {
        font-size: 11pt !important;
    }
    #exam-info {
        padding-right: 10px !important;
    }
    #exam-set div {
        text-align: center !important;
        width: 200px;
        height: auto !important;
    }
}