@model ISTQB_f.Models.Question
<div id="trForm"></div>

<script type="text/javascript" src="~/Scripts/Components/TranslateForm.jsx"></script>
<script src="~/Scripts/dist/autosize.js"></script>
<script type="text/babel">
    ReactDOM.render(<TranslateForm question='@Html.Raw(Json.Encode(Model))' />, document.getElementById("trForm"));
</script>