@{
    ViewBag.Title = "ISTQB Foundation";
}

<div class="jumbotron">
    <p class="text-center">
        <input class="btn btn-danger start-button" type="button" value="Тренировка" onclick="location.href='/Training'" />
    </p>
    <p class="text-center">
        <input class="btn btn-primary start-button" type="button" value="Экзамен" onclick="location.href='/Exam'" />
    </p>
    <p class="text-center">
        <br />
        <img src="/Content/info.png" height="20" width="20" />
    </p>
    <h5 class="text-center">Вопросы были взяты с сайта</h5>
    <h5 class="text-center"><a target="_blank" href="http://www.softwaretestinggenius.com/categoryDetail.php?catId=164">www.softwaretestinggenius.com</a></h5>
    <h5 class="text-center">и были мной любезно переведены</h5>
</div>
