@{
    ViewBag.Title = "ISTQB Foundation";
}

<div class="jumbotron">
    <p class="text-center">
        <input class="btn btn-danger start-button" type="button" value="Тренировка" onclick="location.href='/Training'" />
    </p>
    <p class="text-center">
        <input class="btn btn-primary start-button" type="button" value="Экзамен" onclick="location.href='/Exam'" />
    </p>
</div>
